name: Code format check

on: [ merge_group, push, pull_request ]

jobs:
  treefmt:
    runs-on: ubuntu-latest
    steps:
     - name: Checkout code
       uses: actions/checkout@v4

     - name: Run the format.py inside the docker container
       run: DOCKER_UID=$(id -u) DOCKER_GID=$(id -g) DOCKER_HISTORY=/dev/null docker compose run --rm development python3 .ci/format.py
