name: Generate Puncover Report

on: [workflow_call, push, pull_request]

jobs:
  elf_tool:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up CMake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '3.28.3'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Cache CMake files
        id: cache-cmake
        uses: actions/cache@v4
        with:
            path: build/s32k148-gcc
            key: ${{ runner.os }}-cmake-s32k148-freertos-gcc-RelWithDebInfo-arm-gcc-14-${{ hashFiles('**/*.cpp', '**/*.h',  '**/*.cmake', '**/*.txt', '**/*.c', '**/*.s', '**/*.S') }}

      - name: Run the build.py inside the docker container
        if: steps.cache-cmake.outputs.cache-hit != 'true'
        run: >-
          DOCKER_UID=$(id -u) DOCKER_GID=$(id -g) DOCKER_HISTORY=/dev/null docker compose run --rm development
          python3 .ci/build.py --preset s32k148-freertos-gcc --platform arm --cxxid gcc --cxxstd 14 --config RelWithDebInfo

      - name: Generate report inside the docker container
        run: >-
          DOCKER_UID=$(id -u) DOCKER_GID=$(id -g) DOCKER_HISTORY=/dev/null docker compose run --rm --workdir ${PWD}/tools/puncover_tool development
          bash -c "
          pip3 install poetry &&
          python3 -m poetry install &&
          python3 -m poetry run puncover_tool
          "

      - name: Zip output as artifact
        working-directory: tools/puncover_tool
        run: |
            zip -r puncover-report.zip output

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: puncover-report
          path: tools/puncover_tool/puncover-report.zip
